<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Minhas Tarefas</h2>
<ul>
  {% for tarefa in tarefas %}
    <li>
      <strong>{{ tarefa["titulo"] }}</strong> - {{ tarefa["data_tarefa"] }} {{ tarefa["horario_tarefa"] }} <br>
      <em>{{ tarefa["descricao"] }}</em>
    </li>
  {% else %}
    <li>Nenhuma tarefa cadastrada.</li>
  {% endfor %}
</ul>

</body>
</html>